:root {
    --console-text-color: #00FF00;
    --console-bg-color: #0C0C0C;
    --console-glow: #00ff0080;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "DynaPuff", system-ui;
  hyphens: auto;
  cursor: url(../source/img/cursor.png) 25 20, auto;
}

html,
body {
  background: var(--white);
}

#clicker-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
}

#left-section,
#center-section,
#right-section {
    width: calc(100% / 3);
    height: 100%;
}

#left-section {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #clicker-button {
        transition: transform 0.05s ease-in-out;

        user-select: none;
        -webkit-user-drag: none;
    }

    #clicker-button:active {
        transform: scale(0.90);
    }
}

#center-section {
    background-color: green;
    border-left: 10px solid black;
    border-right: 10px solid black;
}

#messages {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 10%;
    background-color: white;
}

#right-section {
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30fr 20fr 50fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    #console,
    #clicker-blueprint,
    #clicker-shop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #console {
        width: 100%;
        border-bottom: 10px solid black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--console-text-color);
        background-color: var(--console-bg-color);

        position: relative;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);

        &::before {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            background: linear-gradient(rgba(18, 16, 16, 0) 50%,
                    rgba(0, 0, 0, 0.25) 50%);
            background-size: 100% 4px;
            z-index: 2;
            pointer-events: none;
        }

        #console-log {
            display: flex;
            flex-direction: column;

            width: 100%;
            padding: 10px;
            flex-grow: 1;
            height: 0;

            font-size: 1.2rem;
            line-height: 1.2;
            text-shadow: 0 0 2px var(--console-glow), 0 0 8px var(--console-glow);

            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: none;
        }

        #console-input-holder {
            width: 100%;
            height: 3dvh;
            border-top: 1px solid #333;
            padding: 5px;

            #console-input {
                height: 100%;
                width: 100%;
                display: block;
                flex-direction: row;

                color: var(--console-text-color);
                background-color: transparent;
                border: none;

                font-family: 'VT323', monospace;
                font-size: 1.2rem;
                text-shadow: 0 0 2px var(--console-glow);
                outline: none;
            }
        }
    }

    #clicker-blueprint {
        width: 100%;
        border-bottom: 10px solid black;

        #clicker-blueprint-item {
            width: 100%;
            border-bottom: 10px solid black;
        }
    }

    #clicker-shop {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .clicker-shop-item {
            width: 100%;
            height: 100px;
            border-bottom: 10px solid black;
            background-color: purple;
            flex-shrink: 0;
        }
    }
}



.hidden {
    display: none !important;
}

#blueDeath-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000AA;
    color: white;
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}