:root {
    --console-text-color: #00FF00;
    --console-bg-color: #0C0C0C;
    --border-color: #000000;
    --pure-white: #ffffff;
    --console-glow: #00ff0080;
    --front-index: 10;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "DynaPuff", system-ui;
    hyphens: auto;
    cursor: url(../source/img/cursor.png) 25 20, auto;
}

html,
body {
    height: 100dvh;
    width: 100dvw;
    background: var(--white);
}



#left-section,
#center-section,
#right-section {
    width: calc(100% / 3);
    height: 100%;
}

#left-section {
    background-color: green;
}

#center-section {
    border-left: 10px solid var(--border-color);
    border-right: 10px solid var(--border-color);

    #messages {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 10%;
        background-color: var(--pure-white);
        border-bottom: 10px solid var(--border-color);
    }

    #clicker-container {
        height: 90%;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #clicker-bg-canvas {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        #codeLinesCounter,
        #clicker-button {
            position: relative;
            z-index: var(--front-index);
        }

        #codeLinesCounter {
            width: 100%;
            text-align: center;
        }

        #clicker-button {
            transition: transform 0.05s ease-in-out;
            user-select: none;
            -webkit-user-drag: none;
        }

        #clicker-button:active {
            transform: scale(0.90);
        }
    }
}




#right-section {
    background-color: var(--pure-white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30fr 20fr 50fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    #console,
    #clicker-blueprint,
    #clicker-shop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #console {
        width: 100%;
        border-bottom: 10px solid black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--console-text-color);
        background-color: var(--console-bg-color);

        position: relative;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);

        &::before {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            background: linear-gradient(rgba(18, 16, 16, 0) 50%,
                    rgba(0, 0, 0, 0.25) 50%);
            background-size: 100% 4px;
            z-index: 2;
            pointer-events: none;
        }

        #console-log {
            display: flex;
            flex-direction: column;

            width: 100%;
            padding: 10px;
            flex-grow: 1;
            height: 0;

            font-size: 1.2rem;
            line-height: 1.2;
            text-shadow: 0 0 2px var(--console-glow), 0 0 8px var(--console-glow);

            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: none;
        }

        #console-input-holder {
            width: 100%;
            height: 3dvh;
            border-top: 1px solid #333;
            padding: 5px;

            #console-input {
                height: 100%;
                width: 100%;
                display: block;
                flex-direction: row;

                color: var(--console-text-color);
                background-color: transparent;
                border: none;

                font-size: 1.2rem;
                text-shadow: 0 0 2px var(--console-glow);
                outline: none;
            }
        }
    }

    #clicker-blueprint {
        width: 100%;
        border-bottom: 10px solid black;

        #clicker-blueprint-item {
            width: 100%;
            border-bottom: 10px solid black;
        }
    }

    #clicker-shop {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .clicker-shop-item {
            width: 100%;
            height: 100px;
            border-bottom: 10px solid black;

            display: flex;
            flex-direction: row;
            align-items: center;

            #clicker-shop-item-left {
                background-color: var(--pure-white);
                width: 10%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-right: 5px solid var(--border-color);
                border-radius: 10px;
            }

            #clicker-shop-item-right {
                width: 90%;
                height: 100%;
                padding-left: 1dvw;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-image: url(../source/img/shopitem-bg.webp);

                #clicker-item-count {
                    color: rgb(59, 59, 59);
                    font-size: 8cqmin;
                }

                #buy-bt {
                    height: 100%;
                }
            }
        }
    }
}

#clicker-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    z-index: 1000;
}

#BSOD-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000AA;
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1000;
}

#information-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
}
#settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
}