* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "DynaPuff", system-ui;
  hyphens: auto;
  cursor: url(../source/img/cursor.png) 25 20, auto;
}

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --lightblue: rgb(212, 232, 255);
}

html,
body {
  background: var(--white);
}

.overlay {
  min-height: 100dvh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.overlay-top {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bt-back{
  position: absolute;
  left: 1cqmin;
  top: 1cqmin;
  width: 15cqmin !important;
}

.overlay-title {
  font-size: 6cqmin;
  font-family: "Mogra", system-ui;
  margin-top: 5cqmin;
}
.overlay-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8dvw;
  margin-block: 5dvh;
}

[class^="bt-"] {
  width: 20cqmin;
  aspect-ratio: 1/1;
  filter: saturate(2) brightness(1);
  cursor: url(../source/img/cursor-pointer.png) 25 1, auto;
  user-select: none;
  transition: 1s rotate;
}

[class^="bt-"]:hover {
  filter: brightness(1.2);
}

[class^="bt-"]:nth-child(even):hover {
  rotate: 360deg;
}

[class^="bt-"]:nth-child(odd):hover {
  rotate: -360deg;
}

.overlay-center > img:nth-child(2) {
  scale: 1.5;
}

#info-text {
  font-size: clamp(1.25rem, 1.0714rem + 0.8929vw, 2.5rem);
  text-align: justify;
  text-wrap: pretty;
  margin: 8cqmin;
}

.overlay-bottom {
  word-break: normal;
  white-space: normal;
  text-wrap: wrap;
}

#verification {
  width: fit-content;
}

.menu-part-container {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  gap: 2dvw;
}

#settings-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.drawed-style {
  font-weight: bold;
  font-family: "Story Script", sans-serif;
  border: solid var(--black) 0.5cqmin;
  background-image: url(../source/img/lang-select.webp);
  background-position: center;
  background-size: cover;
  border-radius: 1.5cqmin;
  padding: 0.5cqmin;
  appearance: base-select;
}

.drawed-style::picker-icon {
  transition: 0.2s all;
}

.drawed-style:open::picker-icon {
  rotate: -180deg;
}

.drawed-style{
  cursor: url(../source/img/cursor-pointer.png) 25 1, auto;
}

.drawed-style > option {
  font-family: "Story Script", sans-serif;
}

.drawed-style > option:nth-child(odd) {
  background: var(--lightblue);
}

.sl-lang {
  font-size: 4cqmin;
}

.menu-label {
  font-size: 5cqmin;
  margin-right: auto;
}

.volume-slider {
  width: 20cqmin;
  cursor: url(../source/img/cursor-pointer.png) 25 1, auto;
}

.volume-slider-text {
  font-size: 3cqmin;
  width: fit-content;
  cursor: url(../source/img/cursor-pointer.png) 25 1, auto;
}

@media screen and (max-width: 500px) {
  .overlay-center {
    flex-direction: column;
    gap: 4dvw;
  }

  .overlay-center > img {
    width: 25cqmin;
  }

  .overlay-center > img:nth-child(2) {
    scale: 1.2;
  }
}
