* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

html,
body {
    background: var(--white);
    min-width: 100dvw;
    min-height: 100dvh;
}

.overlay {
    min-width: 100dvw;
    min-height: 100dvh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 2cqmin;
}

.overlay-top {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3cqmin;
}

.overlay-title{
    font-size: calc(0.5rem + 6cqmin);
    top: -25dvh;
    font-family: "Mogra", system-ui;
    text-align: center;
    margin-inline: 3dvw;
    margin-top: 5cqmin;
}

.overlay-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8dvw;
    padding: 2cqmin;
}

.overlay-center > img{
    width: 20cqmin;
    aspect-ratio: 1/1;
    filter: saturate(2);
    cursor: pointer;
    user-select: none;
}
.overlay-center > img:nth-child(2){
    scale: 1.5;
}

.overlay-center > img:hover{
    filter: brightness(1.8) saturate(4);
}

.overlay-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2cqmin;
}






.bt-lang{
    font-size: 3cqmin;
    font-weight: bold;
    font-family: "Caveat Brush", cursive;
    border: solid var(--black) 0.5cqmin;
    background-image: url(../source/img/lang-select.webp);
    background-position: center;
    background-size: contain;
    border-radius: 1.5cqmin;
}