* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;

    font-family: "Mogra", system-ui;
}

:root {
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

html,
body {
    background: var(--white);
    min-width: 100dvw;
    min-height: 100dvh;
}
/*
body {
    background-image: url(../source/img/Gemini_Generated_Image_8mabns8mabns8mab.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
*/
.overlay {
    min-width: 100dvw;
    min-height: 100dvh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 2cqmin;
}

.overlay-top {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    align-items: center;
    padding: 3cqmin;
}

.overlay-title {
    font-size: calc(0.5rem + 6cqmin);
    font-family: "Mogra", system-ui;
    margin-top: 5cqmin;
}

.overlay-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8dvw;
    padding: 2cqmin;
}

[class^="bt-"]{
    width: 20cqmin;
    aspect-ratio: 1/1;
    filter: saturate(2);
    cursor: pointer;
    user-select: none;
}

.overlay-center>img:nth-child(2) {
    scale: 1.5;
}

.overlay-center>img:hover {
    filter: brightness(1.8) saturate(4);
}

#info-text{
    font-size: clamp(1.5625rem, 1.3393rem + 1.1161vw, 3.125rem);
    margin-inline: 3dvw;
    text-align: center;
    text-wrap: pretty;
}

.overlay-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2cqmin;
}



.menu-part-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1dvw;
}

.menu-label {
    font-size: 2cqmin;
    font-weight: bold;
}

#settings-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.drawed-style {
    font-weight: bold;
    font-family: "Caveat Brush", cursive;
    border: solid var(--black) 0.5cqmin;
    background-image: url(../source/img/lang-select.webp);
    background-position: center;
    background-size: cover;
    border-radius: 1.5cqmin;
}


.sl-lang {
    font-size: 3cqmin;
}

.volume-slider {
    width: 20cqmin;
}

.volume-slider-text {
    font-size: 2cqmin;
    width: 5cqmin;
}

@media screen and (max-width: 500px) {
    .overlay-center {
        flex-direction: column;
        gap: 4dvw;
    }

    .overlay-center > img{
        width: 40cqmin;
    }

    .overlay-center > img:nth-child(2){
        scale: 1.2;
    }
}