* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

html,
body {
    background: var(--white);
    min-width: 100dvw;
    min-height: 100dvh;
}

.overlay-main {
    min-width: 100dvw;
    min-height: 100dvh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.overlay-top {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    padding: 2cqmin;
}

.overlay-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8dvw;
    padding: 2cqmin;
    position: relative;
}

.overlay-title{
    position: absolute;
    font-size: clamp(1.25rem, 0.5357rem + 3.5714vw, 6.25rem);
    top: -25dvh;
    font-family: "Mogra", system-ui;
}

.overlay-center > img{
    width: 20cqmin;
    aspect-ratio: 1/1;
    filter: saturate(2);
    cursor: pointer;
    user-select: none;
}
.overlay-center > img:nth-child(3){
    scale: 1.5;
}

.overlay-center > img:hover{
    filter: saturate(10);
}

.overlay-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2cqmin;
}