*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root{
    --white: rgb(255,255,255);
    --black: rgb(0,0,0);
}

html, body{
    background: black;
    min-width: 100dvw;
    min-height: 100dvh;
}

.overlay-main{
    min-width: 100dvw;
    min-height: 100dvh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.overlay-top{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    padding: 2cqmin;
}

.overlay-center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2cqmin;
}

.overlay-bottom{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2cqmin;
    color: var(--white);
}