/* --- OVERLAYS: MENU, BSOD, SETTINGS, INFO --- */

#menu-overlay {
    background: rgba(255, 255, 255, 0.9);
}

.overlay-center > img:nth-child(2) {
    scale: 1.5; /* Főmenü play gomb kiemelése */
}

#BSOD-overlay {
    background-color: #0000AA;
    color: white;
    justify-content: center;
    text-align: center;
    font-family: "VT323", monospace;
}

#BSOD-overlay * {
    font-family: "VT323", monospace;
}

#settings-overlay,
#information-overlay {
    background: white;
}

#info-text {
    font-size: clamp(1.25rem, 1.0714rem + 0.8929vw, 2.5rem);
    text-align: justify;
    text-wrap: pretty;
    margin: 8cqmin;
}

#verification {
    width: fit-content;
}

/* --- BEÁLLÍTÁSOK MENÜ RÉSZLETEI --- */
#settings-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.menu-part-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    gap: 2dvw;
}

.menu-label {
    font-size: 5cqmin;
    margin-right: auto;
}

.drawed-style {
    font-weight: bold;
    font-family: "Story Script", sans-serif;
    border: solid var(--black) 0.5cqmin;
    background-image: url(../source/img/lang-select.webp);
    background-position: center;
    background-size: cover;
    border-radius: 1.5cqmin;
    padding: 0.5cqmin;
    appearance: base-select;
    cursor: url(../source/img/cursor.png) 25 1, auto;
}

.drawed-style::picker-icon {
    transition: 0.2s all;
}

.drawed-style:open::picker-icon {
    rotate: -180deg;
}

.drawed-style::-webkit-inner-spin-button,
.drawed-style::-webkit-outer-spin-button {
    cursor: url(../source/img/cursor-pointer.png) 25 1, auto;
}

.drawed-style > option {
    font-family: "Story Script", sans-serif;
}

.drawed-style > option:nth-child(odd) {
    background: var(--lightblue);
}

.volume-slider {
    width: 20cqmin;
    cursor: url(../source/img/cursor-pointer.png) 25 1, auto;
}

.volume-slider-text {
    font-size: 3cqmin;
    width: fit-content;
    cursor: url(../source/img/cursor-pointer.png) 25 1, auto;
}